---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="// 关于 — KiteAidan">
  <section class="container about-page">
    <h1>关于<span> //</span></h1>
    <p>在这个AI飞速发展的时代，知识好像变得越来越容易得到了，甚至不需要对应的技能也能交给AI完成</p>
    <p>只有在获取知识之后，才能用AI解决更高难度问题和修复AI反反复复修复不好的BUG</p>
    <p>所以利用AI学习，然后学习好后好好利用AI</p>
  </section>
</BaseLayout>
