---
// 公告内容直接改这里
---
<div class="card">
  <div class="card-title">公告</div>
  <p class="notice-text">
    博客首发上线。<br />
    最近在研究<a href="#">Houdini 程序化资产生成</a>，欢迎交流。<br /><br />
    联系方式见左侧 ✉ 图标。
  </p>
</div>
